 <div class="container">
  <h1 class="text-center">
  All Lists
  </h1>
    <%= link_to "Create new List!", new_list_path, class: "btn btn-primary text-center" %>
  <p></p>
  <p></p>

  <ul>

    <% @lists.each do |list| %>
      <ol>
      <div class="card">
        <div class="card-header p-3 m-3">
            <div class="card-body">
              <h4><%= link_to list.name, list_path(list.id)  %></h4>

      </ol>

    <% end %>
</div>
